<section>
    <div class="profile-image">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/393081146_274550251593760_1039832218335899929_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFm2QVVF_-NWnFnSSxTgXOG6YRfOLhdndHphF84uF2d0fUWvWHJE5-NOANPgIyfZPAjMzwrbu1JoVpw4kmwlPeS&_nc_ohc=R3LODf3mmg8AX-ytNfS&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQqdB55A6rt74xsnzPyF8BSoK8UP5LSiSaQAY6v-QQWBw&oe=65913231" alt="My Profile Image">
    </div>
<h2>WELCOME TO MY PORTFOLIO</h2>
<h3>HI! IM JHASEN AMBOGNA</h3>